.App {
    color: #F6E7D8;
     font-family: "Cormorant Garamond", serif;
}
.App a {
    text-decoration: none;
}
.App header {
    background-color: #343F56;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #F6E7D8;
}

.App .container {
    margin-top: 20px;
    max-width: 80%;
}

.App footer {
    margin: 15px;
    text-align: center;
    color: #343F56;
    font-weight: bold;
}


