.Phonetics {
    padding: 12px 0;
}
.Phonetics a {
    background-color: #f6e7d8;
    color: #343f56;
    border: 1px solid #f6e7d8;
    border-radius: 18px;
    padding: 8px 12px;
    font-weight: bold;
}
.Phonetics a:hover {
    color: rgb(157, 157, 207);
}
