.Phonetics {
    padding: 12px 0;
}
.Phonetics a {
    background-color: #F6E7D8;
    color: #282c34;
    border: 1px solid #F6E7D8;
    border-radius: 18px;
    padding: 8px 12px;
    font-weight: bold;
}
.Phonetics a:hover {
    color: rgb(157, 157, 207);
}
